# Python
.venv/
__pycache__/
*.pyc

# Robot Framework Output & Test Results
results/
log.html
report.html
output.xml
browser/
browser_video/
browser_screenshot/

# IDE / System
.idea/
.vscode/
.DS_Store

# Inhalt der Ordner für Routinen, Gruppen und Testsuites
routines/**.*
suites/**.*
groups/**.*

# Ressourcen wie Page Objekt Informationen. Sind spezifisch für die Tests.
resources/*
!resources/common.resource
resources/page_objects/**.resource

# Variablen/Zugangsdaten/etc.
variables/**.*

# Tests.
tests/**.robot