# Python
.venv/
__pycache__/
*.pyc

# Robot Framework Output & Test Results
results/
log.html
report.html
output.xml
browser/
browser_video/
browser_screenshot/

# IDE / System
.idea/
.vscode/
.DS_Store
